extends ../../layouts/default.pug
include ../../mixins/alert.pug
block main
  if(role.permissions.includes("accounts-view"))
    +alert-error(3000)
    +alert-success(3000)

    h1(class="mb-4") #{record.fullName}
    div(class="mb-4")
      img(
        src=record.avatar 
        style="width:150px;height:auto;"
      )
    div(class="mb-4")
      span(class="badge badge-primary") #{record.role.title}
    div(class="mb-4") Trạng thái tài khoản:
      if (record.status=="active")
        span(class="badge badge-success") Hoạt động
      else
        span(class="badge badge-danger") Dừng hoạt động
    if(role.permissions.includes("accounts-edit"))
      a(
        href=`${prefixAdmin}/accounts/edit/${record.id}`
        class="btn btn-primary"
      ) Chỉnh sửa
  else 
    h1 Bạn không có quyền truy cập trang này